.page.e {
  color: rgb(193, 108, 56);
  background-color: white;
}

.page.e .content-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
}

.page.e .content-wrapper .title-wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page.e .content-wrapper .title-wrapper .title {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  margin-top: 2rem;
}

.page.e .content-wrapper .title-wrapper .title * {
  margin: 0;
}

.page.e .content-wrapper .title-wrapper .title h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
}

.page.e .content-wrapper .title-wrapper .title h2 {
  font-weight: 500;
}

.page.e .content-wrapper .contact-wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page.e .content-wrapper .contact-wrapper .contact {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.page.e .contact-wrapper .contact .item {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 3rem;
}

.page.e .contact-wrapper .contact .item h3 {
  margin: 0;
  text-align: center;
}

.page.e .contact-wrapper .contact .item img {
  width: 100%;
  object-fit: contain;
}

.page.e .contact-wrapper .contact .item h4 {
  margin: 0;
  text-align: center;
}

.page.e .content-wrapper .watermark-wrapper {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.page.e .content-wrapper .watermark-wrapper .watermark {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
}

.page.e .content-wrapper .watermark-wrapper .watermark img {
  object-fit: contain;
  width: 15%;
}

.page.e .content-wrapper .watermark-wrapper .watermark img.bazana-logo {
  border-radius: 24px 8px;
}
