.page-one.content {
  height: 100%;
  width: 100%;
  background-color: rgb(193, 108, 56);
  color: white;
}

.page-one .title-section {
  height: 100%;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.page-one .title-section .title-h2 {
  font-weight: 500;
  line-height: 1.5;
}

.page-one .title-section .title-h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
}

.page-one .top-logo-section {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 6rem;
  display: flex;
  gap: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.page-one .top-logo-section .logo-img {
  height: 100%;
}

.page-one .logo-img.bazana-logo {
  border-radius: 2rem 0px;
}

.page-one .left-logo-section {
  position: fixed;
  left: 0px;
  height: 100vh;
  width: 50vw;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  opacity: 0.6;
}

.page-one .left-logo-section .logo-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
