@use '../../index.scss' as vars;

#Button {
  button {
    min-width: vars.$actions_size;
    min-height: vars.$actions_size;
    color: vars.$colors_light;
    border-radius: vars.$actions_radius;
    padding: vars.$actions_padding;
    gap: vars.$actions_padding;
    text-align: center;
    box-shadow: 0px 0px 0px transparent;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      width: 100%;
      height: 100%;

      path {
        color: vars.$colors_light;
      }
    }

    &.rounded {
      border-radius: 50%;
    }

    &.primary {
      background-color: vars.$colors_primary;
      border: darken(vars.$colors_primary, 6%) 1px solid;

      &:hover {
        background-color: lighten(vars.$colors_primary, 2%);
      }
    }

    &.secondary {
      background-color: vars.$colors_secondary;
      border: darken(vars.$colors_secondary, 6%) 1px solid;

      &:hover {
        background-color: lighten(vars.$colors_secondary, 2%);
      }

      &:active {
        background-color: vars.$colors_secondary;
      }
    }

    &.success {
      background-color: vars.$colors_success;
      border: darken(vars.$colors_success, 6%) 1px solid;

      &:hover {
        background-color: lighten(vars.$colors_success, 2%);
      }

      &:active {
        background-color: vars.$colors_success;
      }
    }

    &.danger {
      background-color: vars.$colors_danger;
      border: darken(vars.$colors_danger, 6%) 1px solid;

      &:hover {
        background-color: lighten(vars.$colors_danger, 2%);
      }

      &:active {
        background-color: vars.$colors_danger;
      }
    }

    &.warning {
      background-color: vars.$colors_warning;
      border: darken(vars.$colors_warning, 6%) 1px solid;

      &:hover {
        background-color: lighten(vars.$colors_warning, 2%);
      }

      &:active {
        background-color: vars.$colors_warning;
      }
    }

    &.info {
      background-color: vars.$colors_info;
      border: darken(vars.$colors_info, 6%) 1px solid;

      &:hover {
        background-color: lighten(vars.$colors_info, 2%);
      }

      &:active {
        background-color: vars.$colors_info;
      }
    }

    &.transparent {
      background-color: transparent;

      &:hover {
        box-shadow: 4px 4px 2px rgba(vars.$colors_dark, 30%);
        background-color: rgba(vars.$colors_dark, 2%);
      }

      &:active {
        box-shadow: 0px 0px transparent;
        background-color: transparent;
      }
    }

    &:hover {
      cursor: pointer;
      box-shadow: 4px 4px 2px lighten(vars.$colors_dark, 30%);
    }

    &:active {
      cursor: default;
      box-shadow: 0px 0px transparent;
    }
  }
}
