@use '../../index.scss' as vars;

#TopBar {
  height: calc(vars.$actions_size + (vars.$actions_padding * 2));
  background-color: vars.$colors_primary;
  color: vars.$colors_light;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;

  #Content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 vars.$actions_padding;

    h1 {
      margin: 0;
    }
  }
}
